*{
    margin: 0;
    padding: 0;
}

body{
    width: 1200px;
    margin: 0 auto;
}

input:focus{
    font-weight: 700;
    color: green;
    font-size: 20px;
}

/*pseudo : Classes 

li:first-child{
    background-color: #cc0000;
    color: #fff;
}

li:last-child{
    background-color: #cc0000;
    color: #fff;
}

li:nth-child(2n){  //even number//
    background-color: #cc0000;
    color: #fff;
}

li:nth-child(2n+1){  //odd number//
    background-color: #cc0000;
    color: #fff;
}

button:hover{
    color: #cc0000;
}

a:visited{
    color: #cc0000;
}

*/





/*Pseudo-elements :: */

h1::before{
    content: "Hello ";
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: #cc0000;
    margin-right: 20px;
}

.Pseudo-elements::after{
    content: " Good Bye!";
    font-size: 15px;
    background-color: #cc0000;
    color: #fff;
}


body {
    counter-reset: section;
}
  
li::before {
    counter-increment: section;
    content: "Crush " counter(section) ": ";
} 

li::before{
    content: "❤️ ";
}



/*Position*/

.container{
    background-color: #ddd;
}

div{
    width: 100px;
    height: 100px;
}

#first{
    background-color: aqua;
}

#second{
    background-color: bisque;
    position: relative;
    /*position: absolute;*/
    /*position: fixed;*/
    left: 100px;
}

#third{
    background-color: aquamarine;
}


/*specificity*/
h4{
    color: cyan;
}

.specificity-class{
    color: #cc0000;
}